view,swiper,swiper-item,navigator {
	box-sizing: border-box;
}
.pageBg {
	background: 
	linear-gradient(to bottom,rgba(0,0,0,0),rgb(255,255,255) 400rpx),
	linear-gradient(to right,#ADCBE3 20%,#E6A57E);
}

.place-safe-bottom {
	height: 50rpx;
}